<section class="py-14">
  <app-landing-wrapper>
    <div class="flex flex-col lg:flex-row gap-5 justify-between">
      <!-- col-1 -->
      <div class="flex flex-col gap-4">
        <h2 class="text-2xl lg:text-4xl text-primaryColor font-semibold">
          Rent<span class="text-darkColor">ease</span>
        </h2>
        <p class="text-darkColor">
          Platform that provides services Book accommodation.
        </p>
      </div>
      <!-- col-2 -->
      <div class="">
        <h2 class="text-lg lg:text-2xl text-darkColor font-semibold">About</h2>
        <nav>
          <ul class="text-darkColor">
            <li><a href="" class="hover:underline">About us</a></li>
            <li><a href="" class="hover:underline">Terms & Conditions</a></li>
            <li><a href="" class="hover:underline">FAQ</a></li>
            <li><a href="" class="hover:underline">Join as Partner</a></li>
          </ul>
        </nav>
      </div>
      <!-- col-3 -->
      <div class="text-darkColor w-[20rem]">
        <h2 class="text-lg lg:text-2xl text-darkColor font-semibold">
          Contact
        </h2>
        <p>support&#64;dsfds.com</p>
        <p>+233-247-642-813</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
          quia!
        </p>
      </div>
    </div>
  </app-landing-wrapper>
</section>
